.jumbotron h1,p{
	color: #ffffff;

}
.jumbotron {
	background-color: rgb(0, 93, 179);
}

.contenedorJumbotron{
	padding-right: 6.5%;
    padding-left: 6.5%;
}

.barraHerramientas{
	background-color: rgb(0, 93, 179);
	
}

.panelIzquierdo{
	margin-left: 3%;
    width: 25%;
}