.jumbotron h1,p{
	color: #ffffff;

}
.jumbotron {
	background-color: rgb(0, 93, 179);
}

.contenido{
	padding-left: 6.5%;
    padding-right: 6.5%;
    padding-top: 2%;
}

.contenedorMapa{
    float: left;
    height: 100%;
    margin-top: 1.5%; 
    padding-top: 20%;
    width: 30%;
}
      


.especificacionesBache{
	float: left;
    height: 100%;
    width:65%;
    margin-left: 5%;
}

.imagenesCarrucel{
    float: right;
    margin-right:3%;
    margin-top: -2%;
}

#especificaciones{
    overflow: auto;
    /*margin-top: 2%;*/
    
}
.comentarioUsuario{
    margin-right: 9%;
    margin-top: 2%;
}
.avatar{
    margin-left: 5%;
    background:url("../img/avatar.png");
    background-size:24px 24px; 
    background-repeat: no-repeat;
    padding-left: 36px;
    height: 24px;
}
.comentarioIndividual{
    margin-left: 2%;
    border-radius: 6px;
    padding-left: 2%;
    background-color: rgba(240,240,240,0.5);
}
.divComentarios{
    height: 225px;
    margin-left: 2%;
    margin-right: 2%;
    overflow-y: scroll;
    width: 90%;
    
}

.formularioComentario{
    
    margin-left: 3.5%;
    margin-top: 2%;
    width: 35%;
}

.areaComentario{
    
    resize: none;
    width: 201%;
    margin-top: 4%;
    margin-bottom: 4%;

}

.inputUsuario{
    float: left;
    margin-right: 1%;

}

.inputEmail{
    margin-right: 1%;
    width: 100%;
}    


.botonComentario{

    margin-left: 2%;    
}

.divBotones{
    margin-left: 2%;
    margin-top: 2%;
}
.oculto {
    display: none;
}

/*.item{
    height: 244px;
    background-color: gray;
}
*/
.controlEstado{
    margin-top: 0%;
}

.contenedorControles{
    float:left;
    width: 45%;
}

.contenedorPropiedades{
    margin-top: 7%;
    width: auto;
}

#estado > div:nth-child(2){
    margin-left: 8%;
}

#contenedorFormulario{
    padding-top: 10%;

}

#contenedorFormulario form{
    width: 40%;
    margin: 0 auto;
}

.selectFormulario{
    width: 83.4%;
}