.jumbotron h1,p{
	color: #ffffff;

}
.jumbotron {
	background-color: rgb(0, 93, 179);
}

.contenedorJumbotron{
	padding-left: 6.5%;
    padding-right: 6.5%;
    padding-top: 2%;
}

.contenedorMapa{
	height: 40%;
    margin-left: 7%;
    width: 30%;
    float: left;
    margin-top: 3%;
}
.especificacionesBache{
	height: 30%;
    margin-left: 38%;
    margin-right: 1%;
    padding-left: 5%;
    width: 55%;
    padding-top: 1%;
}

.imagenesCarrucel{
    float: right;
    margin-right:3%;
    margin-top: -2%;


}