.texto-error {
	text-align:center !important;
	padding-top:40% !important;
	font-weight: bold;
	font-size: 15px;
}
.texto-exito {
	text-align:center;
	padding-top:5%;
	font-weight: bold;
	font-size: 15px;
}
p#contBoton {
	margin-top:30%;
}

a#botonVisualizador {
	margin-left: -10px;
	position: relative;
	/*margin-left: 40%;*/
}

.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    /*background:rgba(66, 139, 202, 0.75);*/
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}



