.jumbotron h1,p{
	color: #ffffff;

}
.jumbotron {
	background-color: rgb(0, 93, 179);
}

.contenido{
	padding-left: 6.5%;
    padding-right: 6.5%;
    padding-top: 2%;
}

.oculto{
	display: none;
}

.seleccionMultiple{
	border: 1px;
	border-style: solid;
	border-color: gray;
	border-radius: 6px;
	width: 50%;
	height: 50px;
	background-color: white;
}

.contenedorABM{
	float:left;
	width: 49%;

}

.datosAsociados{
	margin-left: 2%;
	padding: 10px;
	border-radius: 6px;
	border-style: solid;
	border-color: #ddd;
	border-width: .3px;
}

.datosAsociados .opcion{

}

.list-group-item p{
	color:rgba(33,33,33,.8);
}

.opcion input{

}


.inputLi{
 	margin-top: -3px;
 	width: 50%;

}

.rowTextArea{
	overflow-y: auto;
}

.rowTextArea textarea{
	resize: none;
}





.datosTipoFalla{
	overflow: auto;
}
	

.datosTipoFalla h4:last-child{
	margin-top: 20px;
}



.contenidoLista{
	width: 45%;
	float: left;
}

.contenedorLista{
	overflow: auto;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus{
	background-color: rgb(0, 93, 179);
}

.btn-primary{
	background-color: rgb(0, 93, 179);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
	background-color: #0172DB;
}


.divDropeable{
	width: 100%;
	border-style: dashed;
	border-width: 3px;
	border-color:rgba(33,33,33,.2);
	padding: 20px;
	color:rgba(33,33,33,.2);
	font-size: 30px;
}

.imagenEjemplo{
	width: 100%;
	height: auto;
}