
input.inicioSesion{
	margin-bottom:3%;
}	

button.inicioSesion{
	float: right;
}

.barra{
	z-index: 10;
	background-color: rgb(0, 93, 179);
}
html,body{
	height: 100%;
}

.logotipo{
	padding-top: 1.2%;	
}
.logotipo img {
    width: 42px; 
    height: 45px;
}

.alerta{

    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    padding-left: 1%;
    width: 99%;
    margin-bottom: 2%;
    border-radius: 5% 5% 5% 5%;
}

.navbar-inverse { 
	background-color: #ffffff;
}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { 
	background-color: #334C7D;
}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { 
	background-color: #25168A;
}
.dropdown-menu { 
	background-color: #E3E3E3;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { 
	background-color: #005DB3;
}
.navbar-inverse { 
	background-image: none; 
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { 
	background-image: none; 
}
.navbar-inverse { 
	border-color: #080808;
}
.navbar-inverse .navbar-brand { 
	color: #FFFFFF;
}
.navbar-inverse .navbar-brand:hover { 
	color: #FFFFFF;
}
.navbar-inverse .navbar-nav>li>a { 
	color: #FFFFFF;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { 
	color: #FFFFFF;
}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { 
	color: #FFFFFF;
}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { 
	color: #FFFFFF;
}
.dropdown-menu>li>a { 
	color: #000000;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { 
	color: #FFFFFF;
}
.navbar-inverse .navbar-nav>.dropdown>a .caret { 
	border-top-color: #FFFFFF;
}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { 
	border-top-color: #FFFFFF;
}
.navbar-inverse .navbar-nav>.dropdown>a .caret { 
	border-bottom-color: #FFFFFF;
}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { 
	border-bottom-color: #FFFFFF;
}
.dropdown-menu .divider{
	background-color: #428BCA;
}