/* Desktops and laptops ----------- */

/*@media only screen and (min-width : 800px) {*/
/*	.contenedorMapa{
		width:100%; 
		height:100%;
		margin-top: -7.5%;
		z-index: 1;
	}*/

.contenedorMapa{
		overflow: unset !important;
		width:100%; 
		height:100%;
		margin-top: -7.5%;
		z-index: 1;
		position: absolute;
	}

@media only screen and (min-width : 1224px) {

	.contenedorMapa{
		overflow: unset !important;
		width:100%; 
		height:100%;
		margin-top: -5.5%;
		z-index: 1;
	}
}

@media only screen and (min-width : 1824px) {
/* Styles */
	
	.contenedorMapa{
		overflow: unset !important;
		width:100%; 
		height:100%;
		margin-top: -3.9%;
		z-index: 1;
	}
}




@media only screen and (min-width : 320px) and (max-width : 480px) {
/* Styles */
	
	.contenedorMapa{
		width:100%; 
		height:100%;
		margin-top: -10%;
		z-index: 1;
	}
}

.contenedorCampos{
	width: 96%;
	margin-left: 2%;
	margin-top: 2%;

}

.campoDescripcion{
	resize: none;
	margin-bottom: 3%;
	width: 100%;
}

.campoIzquierdo{
	float:left;
	width: 70%;
	margin-right: 1%;
	/*margin-bottom: 2%;*/
}

.izquierdoReducido{
	width: 40% !important;
}


.campoDerecho{
	width: 20%;
	margin-bottom: 2%;
}

.derechoAmpliado{
	/*
	width: 58% !important
	*/
	width: 99% !important
}

.informacionBache{
	margin-top: 5%;
}

.tituloFormularioBache{
	background-color: rgb(0, 93, 179);
}

.tituloFormularioBache > h4{
	color: #ffffff;
}

.campoCalle{
	width: 64%;
}

.dropzone{
	min-height: 100px !important ;
    padding: 1% 23px 23px !important ;
}
.seleccionarCalle{
	float: left;
    height: 35px;
    margin-right: 1%;
    margin-top: -0.2%;
}

.tipoFalla{
	width: 100%;
	margin-bottom: 13px;
	border-style: solid;
	border-radius: 5px;
	border-width: 0.5px;
	border-color: rgba(0, 0, 0, 0.25);
	padding: 7px 0px 7px 5px !important;
}

.tipoFalla label{
	font-weight: 100;
	margin-top: 4px;
}

.tipoFalla > div{
	overflow: hidden;
	margin-top: 40px;
}

.tipoFalla > select{
	margin-bottom: 3px !important;
}

#contenedorAtributosFalla{
	text-transform: capitalize;
	margin-top: 40px;
	padding-top: 5px;
	border-top-style: solid;
	border-width: 0.5px;
	border-color: rgba(0, 0, 0, 0.25);
}

