web/application/config/database.php
web/application/config/environment_settings.php
web/application/config/autoresponderlib_config.php
web/application/logs/log-*.php
web/application/cache/*
web/.htaccess
web/application/cache/!index.html

#se borro para agregar la configuracion de la libreria ion auth
# web/application/config/*


# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~

# OS or Editor folders
.DS_Store
.cache
.project
.settings
nbproject
thumbs.db

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
publish
.idea
web/imgSubidas/*

# build script local files
build/buildinfo.properties
build/config/buildinfo.properties
